*{
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
  overflow: hidden;

 
}


/* ---------------------- CONTAINER MAIN ---------------------- */
.section-container {
  min-height: 100vh;
  
  
}

.section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/background.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(8px) contrast(110%); 
  z-index: -1; 
  
}







/* --------------------------- INTERFACE SKILLS ---------------------------*/




/* ------------------------------------ ENGLISH SPANISH OPTION -----------*/
.element-data-en{
  position: absolute;
  bottom: 2%;
  right: 6%;
  color: aliceblue;
  opacity: 0.29;
  font-size: 2vw;
}
.element-data-en:hover{
  opacity: 1;
}

.element-data-es{
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: aliceblue;
  opacity: 0.29;
  font-size: 2vw;
}
.element-data-es:hover{
  opacity: 1;
}

#section-about {
  display: block;
}



/*-------------------------------- animation -------------------*/


/* Agregar transiciones */
main {
animation-duration: 3s;
animation-timing-function: ease-in-out;
}

.section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


/* CSS */
@keyframes fadeIn {
  0% {
  opacity: 0;
}
  100% {
  opacity: 1;
  }
}

@keyframes fadeOut {
0% {
  opacity: 1;
}
60% {
  opacity: 0;
}
}
.information-project{
  max-width: 500px;
}


/*--------------------------------------------------- CONTACT -----------------------------------------------------*/

.section-contact{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}